/* AddFiles.css */

.classes-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 30px;
}

.classes-text-container {
  display: flex;
  gap: 10px;
}

.classes-text {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: #002C66;
  background-color: gray;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.classes-text.active-tab {
  background-color: #002C66;
  color: white;
}

.create-class-button {
  background-color: #002C66;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.create-class-button:hover {
  background-color: #004080;
}

.hidden-button {
  display: none;
}

.center-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.upload-button {
  background-color: #002C66;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #004080;
}

.upload-icon {
  margin-right: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  color: #002C66;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.image-preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.image-preview {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.submit-button {
  background-color: #002C66;
  font-weight: bold;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #004080;
}
