.classes-container {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.classes-text-container {
  display: flex;
  margin-left: 10px;
  gap: 1220px;
}

.classes-text {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: #002C66;
  background-color: gray;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.classes-text.active-tab {
  background-color: #002C66;
  color: white;
}

.create-class-button {
  background-color: #002C66;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.create-class-button:hover {
  background-color: #004080;
}

.hidden-button {
  display: none;
}

.center-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.upload-button {
  background-color: #002C66;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.upload-button:hover {
  background-color: #004080;
}

.upload-icon {
  margin-right: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  color: #002C66;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.image-preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.image-preview {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.submit-button {
  background-color: #002C66;
  font-weight: bold;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #004080;
}

.remove-button {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
}

.remove-button:hover {
  color: darkred;
}

.student-item {
  display: flex;
  align-items: center;
  margin-left: 90px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.expand-icon {
  width: 20px; /* Set the size of the expand icon */
  height: 20px; /* Set the size of the expand icon */
  margin-right: 5px;
  cursor: pointer;
}

.student-name {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: #002C66;
  margin: 0;
  cursor: pointer;
}

.student-name:hover {
  text-decoration: underline;
}
