.createclass-dashboard-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-right: 30px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 60px;
    width: 60px;
  }
  
  .dashboard-text {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-left: 5px;
    color: #002C66;
    cursor: pointer;
  }
  
  .action-container {
    display: flex;
  }
  
  .user-icon-container {
    display: flex;
    align-items: center;
  }
  
  .user-icon {
    width: 40px;
    height: 40px; 
    cursor: pointer;
  }
  
  .createclass-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 30px;
  }
  
  .createclass-text {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-left: 5px;
    color: #002C66;
  }
  

  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    margin-top: 50px; /* Adjust top margin as needed */
  }
  
  .class-name-input {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    width: 300px;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: none;
    color: #002C66;
    background-color: #D9D9D9;
  }

  .class-name-input::placeholder {
    color: #595959; 
  }
  
  .create-class-button {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #002C66;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .create-class-button:hover {
    background-color: #004080;
  }
  