.teacher-dashboard-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  cursor: pointer;
}

.dashboard-text {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}

.profile-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.text-box-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: #002c66;
}

.text-box {
  width: 250px;
  padding: 15px;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  border: none;
  background-color: #d9d9d9;
  letter-spacing: 1px;
  color: #002c66;
  text-align: center;
}
